:root {
  --nav-height: 61px;
  --main-width: 50vw;
  --main-margin-top: 15px;
  --main-margin-right: 12px; /* Set 'main-margin-right' manually! */
  --main-padding: 15px; /* Uses 'padding-right' */
  --socials-width: 158px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #333;
    background-color: #f4f4f4;
    text-align: left;
}
#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    height: auto;
    margin: 0 5px;
    padding: 15px;
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 0px 10px rgba(0.1, 0.1, 0.1, 0.2);
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    margin: 15px;
    font-size: 24px;
    color: #f4f4f4;
    text-decoration: none;
    white-space: nowrap;
}
nav a:hover,
nav a.active {
    color: #957bb5;
}
main {
    max-width: 800px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.1, 0.3);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
@media (max-width: 1000px) {
    main {
        max-width: 80vw;
    }
}
.socials {
    padding: 5px;
    border-radius: inherit;
    box-shadow: inherit;
    position: fixed;
    top: calc(var(--nav-height) + var(--main-margin-top));
    left: calc(50vw + (var(--main-width) / 2) + var(--main-margin-right));
    z-index: 100;
    display: inline-flex;
    flex-direction: column;
}
.socials a {
    margin: 5px 0;
    color: #333;
    text-decoration: none;
}
.socials a:hover {
    color: #957bb5;
}
.socials a i {
    font-size: 28px;
}
@media (max-width: 570px) { /* Mobile Devices */
    main {
        max-width: 100vw;
        margin: 15px 0;
        border-radius: 0;
    }
    .socials {
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0.1, 0.1, 0.1, 0.2);
        top: calc(var(--nav-height) + var(--main-margin-top) + var(--main-padding));
        left: calc(50vw + (var(--main-width) / 2) - var(--main-padding) - var(--socials-width));
        background-color: #333;
        flex-direction: row-reverse;
    }
    .socials a {
        margin: 0 5px;
        color: #f4f4f4;
    }
    .socials a i {
        font-size: 20px;
    }
}
#portfolio-overview{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
#portfolio-overview > #portfolio-info-box {
    position: relative;
    margin-bottom: 15px;
    padding: 7px 0 7px 10px;
}
#portfolio-overview > #portfolio-info-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #957bb5;
  mask-image: linear-gradient(to bottom, transparent, #fff 30%, #fff 70%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, #fff 30%, #fff 70%, transparent);
}
@media (max-width: 872px) {
    #portfolio-overview > #portfolio-info-box {
        padding: 0;
        margin-right: 14px;
    }
    #portfolio-overview > #portfolio-info-box::before {
        width: 0;
    }
}
.profile-image {
    margin-bottom: 30px;
    width: 100%;
    max-width: 225px;
    min-width: 112px;
    height: auto;
    border-radius: 15%;
    box-shadow: 0px 0px 12px rgba(0.584, 0.482, 0.710, 0.4);
}
#portfolio-experience {
    padding: 20px;
    border-radius: inherit;
    box-shadow: inherit;
    width: 85%;
    margin: auto;
}
.tab-container {
    border-radius: 30px;
    box-shadow: 0px 0px 12px rgba(0.584, 0.482, 0.710, 0.4);
    background-color: #333;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.tab-button {
    background-color: #333;
    color: #f4f4f4;
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.tab-button:hover {
    color: #957bb5;
}
.tab-button.active {
    color: #957bb5;
    border-radius: 30px;
    border: 3px solid #957bb5;
}
.tab-content {
    display: none;
    padding: 15px;
}
.tab-content.active {
    display: block;
}






#portfolio-skills{
}
#portfolio-projects{
}
