body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #333;
    background-color: #f4f4f4;
    text-align: left;
}
nav {
    background-color: #333;
}
nav a {
    color: #f4f4f4;
    text-decoration: none;
}
nav a:hover{
    color: #957bb5;
}
main {
    min-height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.1, 0.3);
}
#portfolio-overview{
}
#portfolio-experience{
}
#portfolio-skills{
}
#portfolio-projects{
}
