* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #333;
    background-color: #f4f4f4;
    text-align: left;
}
nav {
    height: auto;
    margin-right: 4px;
    margin-left: 4px;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px rgba(0.1, 0.1, 0.1, 0.5);
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
nav a {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 24px;
    color: #f4f4f4;
    text-decoration: none;
}
nav a:hover{
    color: #957bb5;
}
main {
    max-width: 33vw;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.1, 0.3);
}
#portfolio-overview{
}
#portfolio-experience{
}
#portfolio-skills{
}
#portfolio-projects{
}
